@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Sora', sans-serif;
}

html, body {
  font-family: 'Sora', sans-serif;
}

main {
  width: 100%;
}

main > section {
  width: 100%;
}

/* Responsive global */
@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}
