@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Sora', sans-serif;
}

html {
  min-width: 320px;
}

html, body {
  font-family: 'Sora', sans-serif;
}

main {
  width: 100%;
}

main > section {
  width: 100%;
}

.naranja {
  color: var(--naranja);
  font-weight: bold;
}

.azul-oscuro {
  color: var(--azul-oscuro);
  font-weight: bold;
}

.azul-claro {
  color: var(--azul-claro);
  font-weight: bold;
}

/* Responsive global */
@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}
