---
import MembresiaCrece from "../components/MembresiaCrece.astro";
import ServicioCrece from "../components/ServicioCrece.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <article class="crece">
    <div class="crece-container">
      <h2 class="crece-main-title">Crece Con Nosotros</h2>
      <p class="crece-intro">
        En Barrio Hub creemos que crecer no es solo un objetivo, es un camino
        que recorremos juntos.
      </p>

      <div class="crece-servicios">
        <ServicioCrece
          titulo="Presencia digital"
          imagen="/images/crece/fotoPresenciaDigital.jpg"
          descripcionImg="Imagen del servicio de crecimiento"
          puntos={[
            "Landing Page Premium optimizada SEO",
            "Gestión experta de Google My Business",
            "Perfil destacado en el directorio del Hub",
            "Sistema CRM para gestión de leads",
          ]}
        />
        <ServicioCrece
          titulo="Visibilidad"
          imagen="/images/crece/fotoVisibilidad.jpg"
          descripcionImg="Imagen del servicio de crecimiento"
          puntos={[
            "Newsletter semanal",
            "Post mensual en las redes de Barrio Hub",
            "Sesión de fotos / videos semestral",
            "Ofertas exclusivas en otros establecimientos",
          ]}
        />
        <ServicioCrece
          titulo="Comunidad"
          imagen="/images/crece/fotoComunidad.jpg"
          descripcionImg="Imagen del servicio de crecimiento"
          puntos={[
            "Eventos networking mensuales",
            "Stands rotativos en eventos",
            "Ambiente profesional",
          ]}
        />
      </div>
      <div class="crece-membresias">
        <MembresiaCrece
            membresia="basica",
        />
        <MembresiaCrece
            membresia="premium",
        />
      </div>

      <div class="crece-offerings">
        <div class="crece-offering">
          <h4>Membresía básica</h4>
          <ul>
            <li>Asesoría empresarial</li>
            <li>Networking eventos</li>
            <li>Capacitación profesional</li>
            <li>Soporte administrativo</li>
          </ul>
        </div>

        <div class="crece-offering">
          <h4>Membresía premium</h4>
          <ul>
            <li>Acceso flexible a espacios</li>
            <li>Comunidad exclusiva</li>
            <li>Descuentos en servicios</li>
            <li>Beneficios especiales</li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</MainLayout>
