---
import MainLayout from "../layouts/MainLayout.astro";
import OpcionImpulsa from "../components/OpcionImpulsa.astro";
---

<MainLayout>
    <article class="impulsa">
        <div class="impulsa-container">
            <h2 class="impulsa-main-title">Nuestros Espacios</h2>
            <p class="impulsa-intro">
                Cada uno de nuestros espacios está pensado para adaptarse a ti y
                a tu ritmo. Desde puestos de trabajo ,zonas de formación o de
                reunión.
            </p>

            <div class="impulsa-spaces">
                <OpcionImpulsa
                    titulo="Boxes Privados"
                    descripcion="Disponemos de 8 boxes privados, pensados para que tengas
                        tu propio espacio dentro de la comunidad Barrio Hub. Son
                        ideales para trabajar individualmente, combinando
                        privacidad con la energía de un entorno creativo. Luz
                        natural, perfecta para trabajar Aire acondicionado para
                        mantener la temperatura ideal en cualquier situación
                        Ambiente tranquilo, libre de ruidos para una mayor
                        concentración."
                    imagen="../images/notFound/interrogacion.jpg"
                    descripcionImg=""
                    postNum="1"
                />
                <OpcionImpulsa
                    titulo="Salas de Formación"
                    descripcion="Contamos con dos salas de formación amplias, pensadas
                        para ofrecer comodidad y funcionamiento en cada sesión.
                        Gracias a su buena iluminación y su diseño espacioso,
                        son ideales para talleres, cursos o reuniones
                        formativas. Capacidad de máxima de entre 24 a 30
                        asistentes por sala. Buena iluminación Mobiliario
                        adaptable según la actividad o la dinámica del grupo
                        Ambiente cómodo y profesional"
                    imagen="../images/impulsa/sala-formacion.jpg"
                    descripcionImg="Foto de una de las salas de formación de Barrio Hub"
                    postNum="2"
                />
                <OpcionImpulsa
                    titulo="Salas de Reuniones"
                    descripcion="Nuestras salas de reuniones están diseñadas para
                        encuentros íntimos y productivos.Con una capacidad
                        máxima de 6 asistentes, son perfectas para trabajar en
                        equipo, tomar decisiones importantes o presentar
                        proyectos. Capacidad máxima de 6 asistentes Tamaño: más
                        pequeñas perfectas para reuniones de equipo Equipamiento
                        : pizarra y mobiliario completo para trabajar
                        cómodamente. Confort: calefacción para mantener la
                        temperatura ideal Ambiente profesional."
                    imagen="../images/notFound/interrogacion.jpg"
                    descripcionImg=""
                    postNum="3"
                />
                <OpcionImpulsa
                    titulo="Sala de Podcast"
                    descripcion="Nuestra sala de podcast está diseñada para que puedas
                        grabar contenido de calidad profesional sin
                        complicaciones. Ofreciendo un entorno perfecto para
                        crear tus episodios, y poder personalizar este espacio.
                        Aislamiento acústico perfecto para grabaciones de audio
                        y de video. Iluminación adecuada Mobiliario cómodo :
                        sofás, sillones o mesas según la dinamíca de tu
                        grabación Equipamiento profesional: desde cámaras hasta
                        soportes. Ambiente tranquilo: garantiza concentración y
                        sonido de alta calidad"
                    imagen="../images/notFound/interrogacion.jpg"
                    descripcionImg=""
                    postNum="4"
                />
                <OpcionImpulsa
                    titulo="Espacio para Eventos"
                    descripcion="Nuestro espacio de eventos de 375 m2 es totalmente
                        diáfano y versátil, pensado para adaptarse a cualquier
                        tipo de actividad: desde conferencias y talleres hasta
                        presentaciones, lanzamientos, celebraciones o
                        grabaciones profesionales. Cuenta con una zona de
                        recepción ideal para dar la bienvenida a tus invitados.
                        Capacidad de hasta 400 personas Equipamiento técnico:
                        pantalla táctil, micrófono y equipo de sonido
                        profesional Zona de cocina: ideal para el catering o
                        coffee breaks Versatilidad: perfecto para conferencias,
                        talleres, presentaciones, lanzamientos, celebraciones y
                        grabaciones profesionales. Espacio adaptable"
                    imagen="../images/impulsa/espacio-eventos.jpg"
                    descripcionImg="Foto del espacio de eventos de Barrio Hub"
                    postNum="5"
                />
            </div>
        </div>
    </article>
</MainLayout>
