---
import Introduccion from "../components/Introduccion.astro";
import Description from "../components/Description.astro";
import Descubre from "../components/Descubre.astro";
import Impulsa from "../components/Impulsa.astro";
import Crece from "../components/Crece.astro";
import Formulario from "../components/Formulario.astro";
import Contacto from "../components/Contacto.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Outro from "../components/Outro.astro";
---

<MainLayout>
  <section class="introduccion">
    <Introduccion />
  </section>
  <section class="hero">
    <Description />
  </section>
  <section class="descubre" id="descubre">
    <Descubre />
  </section>
  <section class="impulsa" id="impulsa">
    <Impulsa />
  </section>
  <article class="crece" id="crece">
    <Crece />
  </article>
  <section class="formulario">
    <Formulario />
  </section>
  <section class="outro">
    <Outro />
  </section>
  <section class="contacto">
    <Contacto />
  </section>
</MainLayout>
