---
import Introduccion from "../components/Introduccion.astro";
import Description from "../components/Description.astro";
import Descubre from "../components/Descubre.astro";
import Impulsa from "../components/Impulsa.astro";
import Crece from "../components/Crece.astro";
import Formulario from "../components/Formulario.astro";
import Contacto from "../components/Contacto.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/colores.css";
import "../styles/mainStyle.css";
import "../styles/introduccionStyle.css";
import "../styles/heroStyle.css";
import "../styles/descubreStyle.css";
import "../styles/impulsaStyle.css";
import "../styles/creceStyle.css";
import "../styles/formularioStyle.css";
import "../styles/contactoStyle.css";
---

<MainLayout>
  <section class="introduccion">
    <Introduccion />
  </section>
  <section class="hero">
    <Description />
  </section>
  <section class="descubre">
    <Descubre />
  </section>
  <section class="impulsa">
    <Impulsa />
  </section>
  <section class="crece">
    <Crece />
  </section>
  <section class="formulario">
    <Formulario />
  </section>
  <section class="contacto">
    <Contacto />
  </section>
</MainLayout>

