---
import Nav from '../components/Navbar.astro';
import Social from '../components/Social.astro';
import '../styles/colores.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Social/>
		<Nav/>
	</body>
</html>
