---
interface Props {
  link?: string;
  plataforma?: string;
  svg?: string;
}
const { link, plataforma, svg } = Astro.props;
---

<a
  href={link}
  target="_blank"
  rel="noopener noreferrer"
  class={`social-icon ${plataforma}.toLowerCase()}`}
  title={plataforma}
>
  <svg viewBox="0 0 24 24" fill="currentColor">
    <path
      d={svg}
    ></path>
  </svg>
</a>
