<article class="descubre">
  <div class="descubre-container">
    <div class="descubre-intro-section">
      <p class="descubre-intro-text">
        En <span class="descubre-emphasis">Barrio</span> <span class="descubre-emphasis-orange">Hub</span> creemos en los espacios que inspiran. Somos más que un centro de coworking en Chamartín, somos una <span class="descubre-bold">comunidad</span> de creativos, emprendedores y soñadores que quieren crecer juntos.
      </p>
      
      <p class="descubre-secondary-text">
        Aquí no solo encontrarás un lugar flexible, espacioso, cómodo y lleno de energía, si no una comunidad.
      </p>
    </div>

    <div class="descubre-image-placeholder">
      <img src="/barriohub-landing/images/descubre/encuentroComercial.jpg" alt="Encuentro comercial en Barrio Hub">
    </div>

    <div class="descubre-values">
      <div class="descubre-value">
        <h4 class="descubre-value-title">Objetivo</h4>
        <p class="descubre-value-text">Cada persona que entre en <span class="descubre-bold">Barrio Hub</span> se sienta parte de algo más grande.</p>
      </div>
      
      <div class="descubre-value">
        <h4 class="descubre-value-title">Visión</h4>
        <p class="descubre-value-text">Convertirse en el espacio de referencia donde las personas <span class="descubre-bold">conectan, colaboran</span> y contruyen <span class="descubre-bold">comunidad</span>.</p>
      </div>
      
      <div class="descubre-value">
        <h4 class="descubre-value-title">Misión</h4>
        <p class="descubre-value-text">Crear un entorno <span class="descubre-bold">inclusivo y dinámico</span> que fomente la conexión entre personas y cada miembro se sienta parte de una comunidad real</p>
      </div>
    </div>

    <h3 class="descubre-final-title">Un lugar donde tus ideas crean vida</h3>
  </div>
</article>
