---
import OpcionImpulsa from "../components/OpcionImpulsa.astro";
---
<article class="impulsa">
    <div class="impulsa-container">
      <p class="impulsa-intro">
        Cada uno de nuestros <strong>espacios</strong> está pensado para adaptarse
        a <strong>ti</strong> y a <strong>tu ritmo.</strong> Desde puestos de trabajo,
        zonas de formación o de reunión.
      </p>
      <div class="impulsa-bg-foto">
        <img
          src="/barriohub-landing/images/isotipoBarriohub.png"
          alt="Logotipo de Barrio Hub"
          class="impulsa-isotipo"
        />
        <h1>
          <strong>¿Por qué</strong>
          <span class="azul-oscuro">Barrio</span>
          <span class="naranja">Hub</span><strong>?</strong>
        </h1>
      </div>
      <div class="impulsa-descripcion">
        <p>
          Porque no todos nuestros <strong>espacios</strong> son iguales. Aunque contemos
          con (poner m2), cada zona está diseñada para cubrir una necesidad diferente.
          <ul>
            <li>
              ➢ Los <span class="azul-claro">boxes privados</span> fomentan la concentración
              y la fluidez de ideas en una zona privada, la sala de formación es ideal
              para talleres o cursos.
            </li>
            <li>
              ➢ La <span class="azul-claro"
                >sala de reuniones y de formación</span
              > están pensadas para encuentros profesionales, presentaciones y un
              espacio para toma de decisiones importantes.
            </li>
            <li>
              ➢ La <span class="azul-claro">sala de podcast</span> está equipada para
              que puedas grabar contenido en un lugar cómodo.
            </li>
            <li>
              ➢ El <span class="azul-claro">espacio para eventos</span> cuenta con
              una amplia área abierta.
            </li>
          </ul>
        </p>
      </div>

    <div class="impulsa-spaces">
      <OpcionImpulsa
        client:load
        titulo="Boxes Privados"
        descripcion="Disponemos de 8 boxes privados, pensados para que tengas
                        tu propio espacio dentro de la comunidad Barrio Hub. Son
                        ideales para trabajar individualmente, combinando
                        privacidad con la energía de un entorno creativo. "
          imagen="/barriohub-landing/images/notFound/interrogacion.jpg"
          descripcionImg=""
          puntos={[
            "<strong>Luz natural</strong>, perfecta para trabajar.",
            "<strong>Aire acondicionado</strong> para mantener la temperatura ideal en cualquier situación.",
            "Ambiente tranquilo, <strong>libre de ruidos</strong> para una mayor concentración.",
          ]}
          precios={["Cuota Mensual"]}
          postNum="1"
        />
        <OpcionImpulsa
          titulo="Salas de Formación"
          descripcion="Contamos con dos salas de formación <strong>amplias</strong>, pensadas
                        para ofrecer comodidad y funcionamiento en cada sesión.
                        Gracias a su buena iluminación y su diseño espacioso,
                        son ideales para talleres, cursos o reuniones
                        formativas."
          imagen="/barriohub-landing/images/impulsa/salaFormacion.jpg"
          descripcionImg="Foto de una de las salas de formación de Barrio Hub"
          puntos={[
            "Capacidad máxima de entre 24 a 30 <strong>asistentes</strong> por sala.",
            "Buena <strong>iluminación.</strong>",
            "<strong>Mobiliario</strong> adaptable según la actividad.",
            "Ambiente <strong>cómodo y profesional.</strong>",
          ]}
          precios={[
            "Alquiler por hora",
            "Alquiler por media jornada",
            "Alquiler por jornada completa",
          ]}
          postNum="2"
        />
        <OpcionImpulsa
          titulo="Salas de Reuniones"
          descripcion="Nuestras salas de reuniones están diseñadas para
                        encuentros <strong>íntimos y productivos</strong>. Con una capacidad
                        máxima de 6 asistentes, son perfectas para trabajar en
                        equipo, tomar decisiones importantes o presentar
                        proyectos."
          imagen="/barriohub-landing/images/notFound/interrogacion.jpg"
          descripcionImg=""
          puntos={[
            "<strong>Capacidad</strong> máxima de 6 asistentes.",
            "<strong>Tamaño:</strong> más pequeñas perfectas para reuniones de equipo.",
            "<strong>Equipamiento:</strong> pizarra y mobiliario completo para trabajar cómodamente.",
            "<strong>Confort:</strong> calefacción para mantener la temperatura ideal.",
            "Ambiente <strong>profesional.</strong>",
          ]}
          precios={["Opción de Alquiler"]} 
          postNum="3"
        />
        <OpcionImpulsa
          titulo="Sala de Podcast"
          descripcion="Nuestra sala de podcast está diseñada para que puedas
                        grabar contenido de calidad profesional sin
                        complicaciones. Ofreciendo un entorno perfecto para
                        crear tus <strong>episodios</strong>, y poder personalizar este <strong>espacio</strong>."
          imagen="/barriohub-landing/images/notFound/interrogacion.jpg"
          descripcionImg=""
          puntos={[
            "<strong>Aislamiento</strong> acústico perfecto para grabaciones de audio y de video.",
            "<strong>Iluminación</strong> adecuada.",
            "Mobiliario <strong>cómodo:</strong> sofás, sillones o mesas según la dinamíca de tu grabación.",
            "Equipamiento <strong>profesional:</strong> desde cámaras hasta soportes.",
            "Ambiente tranquilo: garantiza <strong>concentración</strong> y sonido de alta calidad.",
          ]}
          precios={[
            "Alquiler por horas ",
            "Alquiler por días",
          ]}
          postNum="4"
        />
        <OpcionImpulsa
          titulo="Espacio para Eventos"
          descripcion="Nuestro espacio de eventos de <strong>375 m2</strong> es totalmente
                        diáfano y versátil, pensado para adaptarse a cualquier
                        tipo de actividad: desde conferencias y talleres hasta
                        presentaciones, lanzamientos, celebraciones o
                        <strong>grabaciones</strong> profesionales. Cuenta con una zona de
                        <strong>recepción</strong> ideal para dar la bienvenida a tus invitados."
          imagen="/barriohub-landing/images/impulsa/espacioEventos.jpg"
          descripcionImg="Foto del espacio de eventos de Barrio Hub"
          puntos={[
            "Capacidad de hasta <strong>400 personas.</strong>",
            "<strong>Equipamiento</strong> técnico: pantalla táctil, micrófono y equipo de sonido profesional.",
            "Zona de <strong>cocina:</strong> ideal para el catering o coffee breaks.",
            "<strong>Versatilidad:</strong> perfecto para conferencias, talleres, presentaciones, lanzamientos, celebraciones y grabaciones profesionales.",
            "Espacio <strong>adaptable.</strong>",
          ]}
          precios={[
            "Alquiler por media jornada",
            "Alquiler por jornada completa",
          ]}
          postNum="5"
        />
      </div>
    </div>
  </div>
</article>
