<section class="introduccion-container">
  <div class="introduccion-content">
    <h1 class="introduccion-title">Crece <br> con el barrio</h1>
    <h2 class="introduccion-subtitle">Tu negocio, tu barrio, tu oportunidad</h2>
  </div>
</section>
