<section class="introduccion-container">
  <div class="introduccion-content">
    <h1 class="introduccion-title" id="titulo">Crece <br> con el barrio</h1>
    <h2 class="introduccion-subtitle"><strong>Tu</strong> negocio, <strong>tu</strong> barrio, <strong>tu</strong> oportunidad</h2>
  </div>
</section>
