---
const currentPath = Astro.url.pathname;
import Menu from "./Menu.astro";
import "../styles/navbarStyle.css";
---


<nav class="nav">
    <div class="nav-logo">
        <img src="/images/imagotipoBarriohub.png" alt="BarrioHub Logo" class="imagotipo"/>
    </div>

    <Menu />

    <div class="nav-links" id="main-menu">
        <ul class="menu">
            <li><a href="/" class="nav-button"> Inicio </a></li>
            <li><a href="" class="nav-button"> Descubre </a></li>
            <li><a href="/Impulsa/" class="nav-button">Impulsa</a></li>
            <li><a href="/" class="nav-button">Crece</a></li>
        </ul>
    </div>
</nav>
