---
const currentPath = Astro.url.pathname;
import Menu from "./Menu.astro";
---

<nav class="nav">
  <div class="nav-logo">
    <a href="#inicio" class="nav-button">
      <img
        src="/barriohub-landing/images/imagotipoBarriohub.png"
        alt="BarrioHub Logo"
        class="imagotipo"
      />
    </a>
  </div>

  <Menu />

  <div class="nav-links" id="main-menu">
    <ul class="menu">
      <li><a href="#inicio" class="nav-button"> Inicio </a></li>
      <li><a href="#descubre" class="nav-button"> Descubre </a></li>
      <li><a href="#impulsa" class="nav-button">Impulsa</a></li>
      <li><a href="#crece" class="nav-button">Crece</a></li>
    </ul>
  </div>
</nav>
