---
import Nav from "../components/Navbar.astro";
import "../styles/navbarStyle.css";
import "../styles/colores.css";
import "../styles/mainStyle.css";
import "../styles/introduccionStyle.css";
import "../styles/heroStyle.css";
import "../styles/descubreStyle.css";
import "../styles/impulsaStyle.css";
import "../styles/creceStyle.css";
import "../styles/formularioStyle.css";
import "../styles/contactoStyle.css";
import "../styles/search.css";
import "../styles/carrusel.css";
import "../styles/outro.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="/image/svg+xml"
      href="/barriohub-landing/favicon.svg"
    />
    <link rel="icon" href="/barriohub-landing/favicon.ico" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Barrio Hub - Tu espacio en Chamartín</title>
  </head>
  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <script type="module" src="/barriohub-landing/scripts/menu.js"></script>
    <script type="module" src="/barriohub-landing/scripts/navbar.js"></script>
    <script type="module" src="/barriohub-landing/scripts/carrusel.js"></script>
    <script type="module" src="/barriohub-landing/scripts/search.js"></script>
  </body>
</html>
